.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(flat-mountains2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
}

.tittle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #eb5e28;;
}

.sub-tittle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #eb5e28;;
}

.content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #eb5e28;;
}

.btn-land{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #eb5e28;
}
.btn-land:hover {
background-color: #eb5e28;
color:#e5e5e5;
transition: all 0.3 ease-out;
}