.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:center ;
    background-image: url(flat-mountains.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
}

.tittle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #d6b6d3;;
}

.sub-tittle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #d6b6d3;;
}

.content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #d6b6d3;;
}

.btn-land{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #d6b6d3;
}
.btn-land:hover {
background-color: #35012C;
color:#d6b6d3;
transition: all 0.3 ease-out;
}