.nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 15px;
    justify-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: red;
    }

.tittle2{
    color: #eb5e28;
    font-size: 35px;
}

.log-out, .create-game{
    background-color: transparent;
    border: 2px solid #eb5e28;
    color:#e5e5e5;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}
.log-out:hover,  .create-game:hover{
    background-color: #eb5e28;
    color:#e5e5e5;
    transition: all 0.3 ease-out;
    }
